*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
#main-nav{
    background-color: #f3f1f8;
    height: auto;

}
/*row1*/
#s1{
  text-align:left;
  margin-bottom: 150px;
  color: black;
}
#s1 h1{
  font-size:70px;
}
/*row2*/
#main2 {
  padding: 3rem;
}
#main2 h1 {
  margin-bottom: 90px;
  text-align: center;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 18px;
}
.product-card {
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}
.product-card img {
  max-width: 100%;
  height: auto;
}
.product-card h2 {
  margin: 0.5rem 0;
  font-size: 25px;
  color: #333;
}
/*row3*/
.row3{
    padding: 60px;
}
.row3 h1{
    text-align: center;
}
.col :hover{
   border:none;
}
/*foot*/
#foot{
  background-color: #f3f1f8;
}
#nav a{
    text-decoration:none;
    color: black;
    display: flex;
    flex-direction: column;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#col-3{
  display: flex;
  flex-direction: column;
}
#col-3 a{
  color: black;
  text-decoration: none;
}
/*copy*/
.copy{
  max-width:100%;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #f3f1f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#left a{
  color: black;
  text-decoration: none;
}
@media screen and (max-width:1159px){
  #ft{
  text-align: center;
}
}